=begin
#FalaAI API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.21.51

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module FalaAI
  class AnalysisApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Analyze a call transcript — 5 parallel analyses
    # @param diagnostic_request [DiagnosticRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DiagnosticResponse]
    def create_diagnostic_v1_analyze_diagnostic_post(diagnostic_request, opts = {})
      data, _status_code, _headers = create_diagnostic_v1_analyze_diagnostic_post_with_http_info(diagnostic_request, opts)
      data
    end

    # Analyze a call transcript — 5 parallel analyses
    # @param diagnostic_request [DiagnosticRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DiagnosticResponse, Integer, Hash)>] DiagnosticResponse data, response status code and response headers
    def create_diagnostic_v1_analyze_diagnostic_post_with_http_info(diagnostic_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalysisApi.create_diagnostic_v1_analyze_diagnostic_post ...'
      end
      # verify the required parameter 'diagnostic_request' is set
      if @api_client.config.client_side_validation && diagnostic_request.nil?
        fail ArgumentError, "Missing the required parameter 'diagnostic_request' when calling AnalysisApi.create_diagnostic_v1_analyze_diagnostic_post"
      end
      # resource path
      local_var_path = '/v1/analyze/diagnostic'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(diagnostic_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DiagnosticResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AnalysisApi.create_diagnostic_v1_analyze_diagnostic_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalysisApi#create_diagnostic_v1_analyze_diagnostic_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Compliance Risk Audit — conversation compliance analysis
    # @param risk_audit_request [RiskAuditRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RiskAuditV2Response]
    def create_risk_audit_v1_analyze_risk_audit_post(risk_audit_request, opts = {})
      data, _status_code, _headers = create_risk_audit_v1_analyze_risk_audit_post_with_http_info(risk_audit_request, opts)
      data
    end

    # Compliance Risk Audit — conversation compliance analysis
    # @param risk_audit_request [RiskAuditRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RiskAuditV2Response, Integer, Hash)>] RiskAuditV2Response data, response status code and response headers
    def create_risk_audit_v1_analyze_risk_audit_post_with_http_info(risk_audit_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalysisApi.create_risk_audit_v1_analyze_risk_audit_post ...'
      end
      # verify the required parameter 'risk_audit_request' is set
      if @api_client.config.client_side_validation && risk_audit_request.nil?
        fail ArgumentError, "Missing the required parameter 'risk_audit_request' when calling AnalysisApi.create_risk_audit_v1_analyze_risk_audit_post"
      end
      # resource path
      local_var_path = '/v1/analyze/riskAudit'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(risk_audit_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RiskAuditV2Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AnalysisApi.create_risk_audit_v1_analyze_risk_audit_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalysisApi#create_risk_audit_v1_analyze_risk_audit_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
