=begin
#FalaAI API

#Transcribe, diagnose and score calls with 3 simple endpoints.  **Endpoints:** - `POST /v1/audio/transcriptions` — Audio to text - `POST /v1/analyze/diagnostic` — Conversation analysis - `POST /v1/analyze/auditoriaRisco` — Compliance audit  **Complete flow (Python):** ```python import httpx  API = 'https://api01-falaai.action.tec.br' KEY = 'fai_xxx' HD = {'Authorization': f'Bearer {KEY}'}  # 1. Transcribe files = {'file': open('call.mp3', 'rb')} resp = httpx.post(f'{API}/v1/audio/transcriptions', headers=HD, files=files, data={'model': 'falaai-transcribe-1', 'language': 'pt'}) tr = resp.json() print(f'Text: {tr[\"text\"][:100]}...')  # 2. Diagnose resp = httpx.post(f'{API}/v1/analyze/diagnostic', headers=HD, json={'dialog': tr['dialog'], 'language': 'pt-BR', 'duration_seconds': tr['duration_seconds']}) diag = resp.json() print(f'Sentiment: {diag[\"analysis\"][\"sentiment\"][\"list_choice\"]}') print(f'Summary: {diag[\"analysis\"][\"dialogue_summary\"][\"explanation\"][:100]}...')  # 3. Audit resp = httpx.post(f'{API}/v1/analyze/auditoriaRisco', headers=HD, json={'dialogo': tr['dialog'], 'duration_seconds': tr['duration_seconds']}) audit = resp.json() print(f'Score: {audit[\"audit_score\"]} | Verdict: {audit[\"verdict\"]}') print(f'Detections: {audit[\"total_detections\"]} | Violations: {len(audit[\"violations\"])} | Positives: {len(audit[\"positives\"])}') ```  **Authentication:** All endpoints require an API Key in the `Authorization` header: `Bearer fai_xxx`  Get your API Key at [falaai.action.tec.br/api](https://falaai.action.tec.br/api)

The version of the OpenAPI document: 1.21.47

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module FalaAI
  class AnalysisApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Compliance Risk Audit â€” conversation compliance analysis
    # Analyzes a call transcript for compliance risks. Returns a score (0-100), classification level, violations, positives, and a detailed HTML report.  **Python:** ```python import httpx  response = httpx.post(     'https://api01-falaai.action.tec.br/v1/analyze/auditoriaRisco',     headers={'Authorization': 'Bearer fai_xxx'},     json={         'dialog': 'Speaker 1: [00:00:00.540 - 00:00:01.139] Hi, Alex.',         'duration_seconds': 151.0,         'language': 'pt-BR',         'response_language': 'en-US'     } ) print(response.json()) ```  **cURL:** ```bash curl https://api01-falaai.action.tec.br/v1/analyze/auditoriaRisco \\   -H 'Authorization: Bearer fai_xxx' \\   -H 'Content-Type: application/json' \\   -d '{     \"dialog\": \"Speaker 1: [00:00:00.540 - 00:00:01.139] Hi, Alex.\",     \"duration_seconds\": 151.0,     \"language\": \"pt-BR\",     \"response_language\": \"en-US\"   }' ```
    # @param auditoria_risco_request [AuditoriaRiscoRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AuditoriaRiscoV2Response]
    def create_auditoria_risco_v1_analyze_auditoria_risco_post(auditoria_risco_request, opts = {})
      data, _status_code, _headers = create_auditoria_risco_v1_analyze_auditoria_risco_post_with_http_info(auditoria_risco_request, opts)
      data
    end

    # Compliance Risk Audit â€” conversation compliance analysis
    # Analyzes a call transcript for compliance risks. Returns a score (0-100), classification level, violations, positives, and a detailed HTML report.  **Python:** &#x60;&#x60;&#x60;python import httpx  response &#x3D; httpx.post(     &#39;https://api01-falaai.action.tec.br/v1/analyze/auditoriaRisco&#39;,     headers&#x3D;{&#39;Authorization&#39;: &#39;Bearer fai_xxx&#39;},     json&#x3D;{         &#39;dialog&#39;: &#39;Speaker 1: [00:00:00.540 - 00:00:01.139] Hi, Alex.&#39;,         &#39;duration_seconds&#39;: 151.0,         &#39;language&#39;: &#39;pt-BR&#39;,         &#39;response_language&#39;: &#39;en-US&#39;     } ) print(response.json()) &#x60;&#x60;&#x60;  **cURL:** &#x60;&#x60;&#x60;bash curl https://api01-falaai.action.tec.br/v1/analyze/auditoriaRisco \\   -H &#39;Authorization: Bearer fai_xxx&#39; \\   -H &#39;Content-Type: application/json&#39; \\   -d &#39;{     \&quot;dialog\&quot;: \&quot;Speaker 1: [00:00:00.540 - 00:00:01.139] Hi, Alex.\&quot;,     \&quot;duration_seconds\&quot;: 151.0,     \&quot;language\&quot;: \&quot;pt-BR\&quot;,     \&quot;response_language\&quot;: \&quot;en-US\&quot;   }&#39; &#x60;&#x60;&#x60;
    # @param auditoria_risco_request [AuditoriaRiscoRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuditoriaRiscoV2Response, Integer, Hash)>] AuditoriaRiscoV2Response data, response status code and response headers
    def create_auditoria_risco_v1_analyze_auditoria_risco_post_with_http_info(auditoria_risco_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalysisApi.create_auditoria_risco_v1_analyze_auditoria_risco_post ...'
      end
      # verify the required parameter 'auditoria_risco_request' is set
      if @api_client.config.client_side_validation && auditoria_risco_request.nil?
        fail ArgumentError, "Missing the required parameter 'auditoria_risco_request' when calling AnalysisApi.create_auditoria_risco_v1_analyze_auditoria_risco_post"
      end
      # resource path
      local_var_path = '/v1/analyze/auditoriaRisco'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auditoria_risco_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AuditoriaRiscoV2Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AnalysisApi.create_auditoria_risco_v1_analyze_auditoria_risco_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalysisApi#create_auditoria_risco_v1_analyze_auditoria_risco_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Analyze a call transcript â€” 5 parallel analyses
    # Runs 5 independent analyses on a call transcript: dialogue summary, contact reason, identified action, label classification, and sentiment.  **Python:** ```python import httpx  response = httpx.post(     'https://api01-falaai.action.tec.br/v1/analyze/diagnostic',     headers={'Authorization': 'Bearer fai_xxx'},     json={         'dialog': 'Speaker 1: [00:00:00.540 - 00:00:01.139] Hi, Alex.',         'language': 'pt-BR',         'duration_seconds': 151.0     } ) print(response.json()) ```  **cURL:** ```bash curl https://api01-falaai.action.tec.br/v1/analyze/diagnostic \\   -H 'Authorization: Bearer fai_xxx' \\   -H 'Content-Type: application/json' \\   -d '{     \"dialog\": \"Speaker 1: [00:00:00.540 - 00:00:01.139] Hi, Alex.\",     \"language\": \"pt-BR\",     \"duration_seconds\": 151.0   }' ```
    # @param diagnostic_request [DiagnosticRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DiagnosticResponse]
    def create_diagnostic_v1_analyze_diagnostic_post(diagnostic_request, opts = {})
      data, _status_code, _headers = create_diagnostic_v1_analyze_diagnostic_post_with_http_info(diagnostic_request, opts)
      data
    end

    # Analyze a call transcript â€” 5 parallel analyses
    # Runs 5 independent analyses on a call transcript: dialogue summary, contact reason, identified action, label classification, and sentiment.  **Python:** &#x60;&#x60;&#x60;python import httpx  response &#x3D; httpx.post(     &#39;https://api01-falaai.action.tec.br/v1/analyze/diagnostic&#39;,     headers&#x3D;{&#39;Authorization&#39;: &#39;Bearer fai_xxx&#39;},     json&#x3D;{         &#39;dialog&#39;: &#39;Speaker 1: [00:00:00.540 - 00:00:01.139] Hi, Alex.&#39;,         &#39;language&#39;: &#39;pt-BR&#39;,         &#39;duration_seconds&#39;: 151.0     } ) print(response.json()) &#x60;&#x60;&#x60;  **cURL:** &#x60;&#x60;&#x60;bash curl https://api01-falaai.action.tec.br/v1/analyze/diagnostic \\   -H &#39;Authorization: Bearer fai_xxx&#39; \\   -H &#39;Content-Type: application/json&#39; \\   -d &#39;{     \&quot;dialog\&quot;: \&quot;Speaker 1: [00:00:00.540 - 00:00:01.139] Hi, Alex.\&quot;,     \&quot;language\&quot;: \&quot;pt-BR\&quot;,     \&quot;duration_seconds\&quot;: 151.0   }&#39; &#x60;&#x60;&#x60;
    # @param diagnostic_request [DiagnosticRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DiagnosticResponse, Integer, Hash)>] DiagnosticResponse data, response status code and response headers
    def create_diagnostic_v1_analyze_diagnostic_post_with_http_info(diagnostic_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalysisApi.create_diagnostic_v1_analyze_diagnostic_post ...'
      end
      # verify the required parameter 'diagnostic_request' is set
      if @api_client.config.client_side_validation && diagnostic_request.nil?
        fail ArgumentError, "Missing the required parameter 'diagnostic_request' when calling AnalysisApi.create_diagnostic_v1_analyze_diagnostic_post"
      end
      # resource path
      local_var_path = '/v1/analyze/diagnostic'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(diagnostic_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DiagnosticResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AnalysisApi.create_diagnostic_v1_analyze_diagnostic_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalysisApi#create_diagnostic_v1_analyze_diagnostic_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
