=begin
#FalaAI API

#Transcribe, diagnose and score calls with 3 simple endpoints.  **Endpoints:** - `POST /v1/audio/transcriptions` — Audio to text - `POST /v1/analyze/diagnostic` — Conversation analysis - `POST /v1/analyze/auditoriaRisco` — Compliance audit  **Complete flow (Python):** ```python import httpx  API = 'https://api01-falaai.action.tec.br' KEY = 'fai_xxx' HD = {'Authorization': f'Bearer {KEY}'}  # 1. Transcribe files = {'file': open('call.mp3', 'rb')} resp = httpx.post(f'{API}/v1/audio/transcriptions', headers=HD, files=files, data={'model': 'falaai-transcribe-1', 'language': 'pt'}) tr = resp.json() print(f'Text: {tr[\"text\"][:100]}...')  # 2. Diagnose resp = httpx.post(f'{API}/v1/analyze/diagnostic', headers=HD, json={'dialog': tr['dialog'], 'language': 'pt-BR', 'duration_seconds': tr['duration_seconds']}) diag = resp.json() print(f'Sentiment: {diag[\"analysis\"][\"sentiment\"][\"list_choice\"]}') print(f'Summary: {diag[\"analysis\"][\"dialogue_summary\"][\"explanation\"][:100]}...')  # 3. Audit resp = httpx.post(f'{API}/v1/analyze/auditoriaRisco', headers=HD, json={'dialogo': tr['dialog'], 'duration_seconds': tr['duration_seconds']}) audit = resp.json() print(f'Score: {audit[\"audit_score\"]} | Verdict: {audit[\"verdict\"]}') print(f'Detections: {audit[\"total_detections\"]} | Violations: {len(audit[\"violations\"])} | Positives: {len(audit[\"positives\"])}') ```  **Authentication:** All endpoints require an API Key in the `Authorization` header: `Bearer fai_xxx`  Get your API Key at [falaai.action.tec.br/api](https://falaai.action.tec.br/api)

The version of the OpenAPI document: 1.21.48

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module FalaAI
  class EmailAlertsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Criar email de alerta
    # @param create_email_alert_request [CreateEmailAlertRequest] 
    # @param [Hash] opts the optional parameters
    # @return [EmailAlertItem]
    def create_email_alert_v1_email_alerts_post(create_email_alert_request, opts = {})
      data, _status_code, _headers = create_email_alert_v1_email_alerts_post_with_http_info(create_email_alert_request, opts)
      data
    end

    # Criar email de alerta
    # @param create_email_alert_request [CreateEmailAlertRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailAlertItem, Integer, Hash)>] EmailAlertItem data, response status code and response headers
    def create_email_alert_v1_email_alerts_post_with_http_info(create_email_alert_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailAlertsApi.create_email_alert_v1_email_alerts_post ...'
      end
      # verify the required parameter 'create_email_alert_request' is set
      if @api_client.config.client_side_validation && create_email_alert_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_email_alert_request' when calling EmailAlertsApi.create_email_alert_v1_email_alerts_post"
      end
      # resource path
      local_var_path = '/v1/email-alerts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_email_alert_request)

      # return_type
      return_type = opts[:debug_return_type] || 'EmailAlertItem'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EmailAlertsApi.create_email_alert_v1_email_alerts_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailAlertsApi#create_email_alert_v1_email_alerts_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remover email de alerta
    # @param alert_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmailAlertMessageResponse]
    def delete_email_alert_v1_email_alerts_alert_id_delete(alert_id, opts = {})
      data, _status_code, _headers = delete_email_alert_v1_email_alerts_alert_id_delete_with_http_info(alert_id, opts)
      data
    end

    # Remover email de alerta
    # @param alert_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailAlertMessageResponse, Integer, Hash)>] EmailAlertMessageResponse data, response status code and response headers
    def delete_email_alert_v1_email_alerts_alert_id_delete_with_http_info(alert_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailAlertsApi.delete_email_alert_v1_email_alerts_alert_id_delete ...'
      end
      # verify the required parameter 'alert_id' is set
      if @api_client.config.client_side_validation && alert_id.nil?
        fail ArgumentError, "Missing the required parameter 'alert_id' when calling EmailAlertsApi.delete_email_alert_v1_email_alerts_alert_id_delete"
      end
      # resource path
      local_var_path = '/v1/email-alerts/{alert_id}'.sub('{alert_id}', CGI.escape(alert_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmailAlertMessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EmailAlertsApi.delete_email_alert_v1_email_alerts_alert_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailAlertsApi#delete_email_alert_v1_email_alerts_alert_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Listar emails de alerta
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 20)
    # @return [EmailAlertListResponse]
    def list_email_alerts_v1_email_alerts_get(opts = {})
      data, _status_code, _headers = list_email_alerts_v1_email_alerts_get_with_http_info(opts)
      data
    end

    # Listar emails de alerta
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 20)
    # @return [Array<(EmailAlertListResponse, Integer, Hash)>] EmailAlertListResponse data, response status code and response headers
    def list_email_alerts_v1_email_alerts_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailAlertsApi.list_email_alerts_v1_email_alerts_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling EmailAlertsApi.list_email_alerts_v1_email_alerts_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling EmailAlertsApi.list_email_alerts_v1_email_alerts_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling EmailAlertsApi.list_email_alerts_v1_email_alerts_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/email-alerts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmailAlertListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EmailAlertsApi.list_email_alerts_v1_email_alerts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailAlertsApi#list_email_alerts_v1_email_alerts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Atualizar email de alerta
    # @param alert_id [String] 
    # @param update_email_alert_request [UpdateEmailAlertRequest] 
    # @param [Hash] opts the optional parameters
    # @return [EmailAlertMessageResponse]
    def update_email_alert_v1_email_alerts_alert_id_put(alert_id, update_email_alert_request, opts = {})
      data, _status_code, _headers = update_email_alert_v1_email_alerts_alert_id_put_with_http_info(alert_id, update_email_alert_request, opts)
      data
    end

    # Atualizar email de alerta
    # @param alert_id [String] 
    # @param update_email_alert_request [UpdateEmailAlertRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailAlertMessageResponse, Integer, Hash)>] EmailAlertMessageResponse data, response status code and response headers
    def update_email_alert_v1_email_alerts_alert_id_put_with_http_info(alert_id, update_email_alert_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailAlertsApi.update_email_alert_v1_email_alerts_alert_id_put ...'
      end
      # verify the required parameter 'alert_id' is set
      if @api_client.config.client_side_validation && alert_id.nil?
        fail ArgumentError, "Missing the required parameter 'alert_id' when calling EmailAlertsApi.update_email_alert_v1_email_alerts_alert_id_put"
      end
      # verify the required parameter 'update_email_alert_request' is set
      if @api_client.config.client_side_validation && update_email_alert_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_email_alert_request' when calling EmailAlertsApi.update_email_alert_v1_email_alerts_alert_id_put"
      end
      # resource path
      local_var_path = '/v1/email-alerts/{alert_id}'.sub('{alert_id}', CGI.escape(alert_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_email_alert_request)

      # return_type
      return_type = opts[:debug_return_type] || 'EmailAlertMessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EmailAlertsApi.update_email_alert_v1_email_alerts_alert_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailAlertsApi#update_email_alert_v1_email_alerts_alert_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
