=begin
#FalaAI API

#Transcribe, diagnose and score calls with 3 simple endpoints.  **Endpoints:** - `POST /v1/audio/transcriptions` — Audio to text - `POST /v1/analyze/diagnostic` — Conversation analysis - `POST /v1/analyze/auditoriaRisco` — Compliance audit  **Complete flow (Python):** ```python import httpx  API = 'https://api.fala.ai' KEY = 'fai_xxx' HD = {'Authorization': f'Bearer {KEY}'}  # 1. Transcribe files = {'file': open('call.mp3', 'rb')} resp = httpx.post(f'{API}/v1/audio/transcriptions', headers=HD, files=files, data={'model': 'falaai-transcribe-1', 'language': 'pt'}) tr = resp.json() print(f'Text: {tr[\"text\"][:100]}...')  # 2. Diagnose resp = httpx.post(f'{API}/v1/analyze/diagnostic', headers=HD, json={'dialog': tr['dialog'], 'language': 'pt-BR', 'duration_seconds': tr['duration_seconds']}) diag = resp.json() print(f'Sentiment: {diag[\"analysis\"][\"sentiment\"][\"list_choice\"]}') print(f'Summary: {diag[\"analysis\"][\"dialogue_summary\"][\"explanation\"][:100]}...')  # 3. Audit resp = httpx.post(f'{API}/v1/analyze/auditoriaRisco', headers=HD, json={'dialogo': tr['dialog'], 'duration_seconds': tr['duration_seconds']}) audit = resp.json() print(f'Score: {audit[\"audit_score\"]} | Verdict: {audit[\"verdict\"]}') print(f'Detections: {audit[\"total_detections\"]} | Violations: {len(audit[\"violations\"])} | Positives: {len(audit[\"positives\"])}') ```  **Authentication:** All endpoints require an API Key in the `Authorization` header: `Bearer fai_xxx`  Get your API Key at [falaai.action.tec.br/api](https://falaai.action.tec.br/api)

The version of the OpenAPI document: 1.21.47

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module FalaAI
  class SpeechApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Transcribe audio to text
    # Upload an audio file and receive transcription with speaker diarization, audio events, and dialog.  **Supported formats:** .mp3, .mp4, .m4a, .wav, .flac, .ogg, .webm, .aac, .opus  **Limits:** - Maximum audio duration: 3 hours - Maximum file size: 1GB - Cost: 1 credit per second of audio (rounded up), minimum 1 credit  **Supported languages:** pt, en, es, fr, de, it, ja, ko, nl, pl, ru, tr, zh, vi, id, th, ar, hi, cs, da, el, fi, he, hu, ms, no, ro, sk, sv, ta, uk  **Python:** ```python import httpx  response = httpx.post(     'https://api.fala.ai/v1/audio/transcriptions',     headers={'Authorization': 'Bearer fai_xxx'},     files={'file': open('call.mp3', 'rb')},     data={'model': 'falaai-transcribe-1', 'language': 'pt'} ) print(response.json()) ```  **cURL:** ```bash curl https://api.fala.ai/v1/audio/transcriptions \\   -H 'Authorization: Bearer fai_xxx' \\   -F 'file=@call.mp3' \\   -F 'model=falaai-transcribe-1' \\   -F 'language=pt' ```
    # @param file [File] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :model  (default to 'falaai-transcribe-1')
    # @option opts [String] :language  (default to 'pt')
    # @option opts [String] :client_reference_id Optional client-supplied ID echoed verbatim in the response. Use to correlate/sync with your system. Accepted charset: [A-Za-z0-9._:-]. Not idempotency.
    # @return [TranscriptionResponse]
    def create_transcription_v1_audio_transcriptions_post(file, opts = {})
      data, _status_code, _headers = create_transcription_v1_audio_transcriptions_post_with_http_info(file, opts)
      data
    end

    # Transcribe audio to text
    # Upload an audio file and receive transcription with speaker diarization, audio events, and dialog.  **Supported formats:** .mp3, .mp4, .m4a, .wav, .flac, .ogg, .webm, .aac, .opus  **Limits:** - Maximum audio duration: 3 hours - Maximum file size: 1GB - Cost: 1 credit per second of audio (rounded up), minimum 1 credit  **Supported languages:** pt, en, es, fr, de, it, ja, ko, nl, pl, ru, tr, zh, vi, id, th, ar, hi, cs, da, el, fi, he, hu, ms, no, ro, sk, sv, ta, uk  **Python:** &#x60;&#x60;&#x60;python import httpx  response &#x3D; httpx.post(     &#39;https://api.fala.ai/v1/audio/transcriptions&#39;,     headers&#x3D;{&#39;Authorization&#39;: &#39;Bearer fai_xxx&#39;},     files&#x3D;{&#39;file&#39;: open(&#39;call.mp3&#39;, &#39;rb&#39;)},     data&#x3D;{&#39;model&#39;: &#39;falaai-transcribe-1&#39;, &#39;language&#39;: &#39;pt&#39;} ) print(response.json()) &#x60;&#x60;&#x60;  **cURL:** &#x60;&#x60;&#x60;bash curl https://api.fala.ai/v1/audio/transcriptions \\   -H &#39;Authorization: Bearer fai_xxx&#39; \\   -F &#39;file&#x3D;@call.mp3&#39; \\   -F &#39;model&#x3D;falaai-transcribe-1&#39; \\   -F &#39;language&#x3D;pt&#39; &#x60;&#x60;&#x60;
    # @param file [File] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :model  (default to 'falaai-transcribe-1')
    # @option opts [String] :language  (default to 'pt')
    # @option opts [String] :client_reference_id Optional client-supplied ID echoed verbatim in the response. Use to correlate/sync with your system. Accepted charset: [A-Za-z0-9._:-]. Not idempotency.
    # @return [Array<(TranscriptionResponse, Integer, Hash)>] TranscriptionResponse data, response status code and response headers
    def create_transcription_v1_audio_transcriptions_post_with_http_info(file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SpeechApi.create_transcription_v1_audio_transcriptions_post ...'
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling SpeechApi.create_transcription_v1_audio_transcriptions_post"
      end
      # resource path
      local_var_path = '/v1/audio/transcriptions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = file
      form_params['model'] = opts[:'model'] if !opts[:'model'].nil?
      form_params['language'] = opts[:'language'] if !opts[:'language'].nil?
      form_params['client_reference_id'] = opts[:'client_reference_id'] if !opts[:'client_reference_id'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TranscriptionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"SpeechApi.create_transcription_v1_audio_transcriptions_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SpeechApi#create_transcription_v1_audio_transcriptions_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
