=begin
#FalaAI API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.21.51

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module FalaAI
  class SpeechApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Transcribe audio to text
    # @param file [File] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :model  (default to 'falaai-transcribe-1')
    # @option opts [String] :language  (default to 'pt')
    # @option opts [String] :client_reference_id Optional client-supplied ID echoed verbatim in the response. Use to correlate/sync with your system. Accepted charset: [A-Za-z0-9._:-]. Not idempotency.
    # @return [TranscriptionResponse]
    def create_transcription_v1_audio_transcriptions_post(file, opts = {})
      data, _status_code, _headers = create_transcription_v1_audio_transcriptions_post_with_http_info(file, opts)
      data
    end

    # Transcribe audio to text
    # @param file [File] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :model  (default to 'falaai-transcribe-1')
    # @option opts [String] :language  (default to 'pt')
    # @option opts [String] :client_reference_id Optional client-supplied ID echoed verbatim in the response. Use to correlate/sync with your system. Accepted charset: [A-Za-z0-9._:-]. Not idempotency.
    # @return [Array<(TranscriptionResponse, Integer, Hash)>] TranscriptionResponse data, response status code and response headers
    def create_transcription_v1_audio_transcriptions_post_with_http_info(file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SpeechApi.create_transcription_v1_audio_transcriptions_post ...'
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling SpeechApi.create_transcription_v1_audio_transcriptions_post"
      end
      # resource path
      local_var_path = '/v1/audio/transcriptions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = file
      form_params['model'] = opts[:'model'] if !opts[:'model'].nil?
      form_params['language'] = opts[:'language'] if !opts[:'language'].nil?
      form_params['client_reference_id'] = opts[:'client_reference_id'] if !opts[:'client_reference_id'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TranscriptionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"SpeechApi.create_transcription_v1_audio_transcriptions_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SpeechApi#create_transcription_v1_audio_transcriptions_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
