=begin
#FalaAI API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.21.51

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module FalaAI
  class UsageApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Usage By Key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :key_id 
    # @return [Array<UsageByKeyItem>]
    def get_usage_by_key_v1_usage_by_key_get(opts = {})
      data, _status_code, _headers = get_usage_by_key_v1_usage_by_key_get_with_http_info(opts)
      data
    end

    # Get Usage By Key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :key_id 
    # @return [Array<(Array<UsageByKeyItem>, Integer, Hash)>] Array<UsageByKeyItem> data, response status code and response headers
    def get_usage_by_key_v1_usage_by_key_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsageApi.get_usage_by_key_v1_usage_by_key_get ...'
      end
      # resource path
      local_var_path = '/v1/usage/by-key'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'key_id'] = opts[:'key_id'] if !opts[:'key_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UsageByKeyItem>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"UsageApi.get_usage_by_key_v1_usage_by_key_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsageApi#get_usage_by_key_v1_usage_by_key_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Usage Log
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 20)
    # @option opts [String] :api_key_id 
    # @return [UsageLogResponse]
    def get_usage_log_v1_usage_log_get(opts = {})
      data, _status_code, _headers = get_usage_log_v1_usage_log_get_with_http_info(opts)
      data
    end

    # Get Usage Log
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 20)
    # @option opts [String] :api_key_id 
    # @return [Array<(UsageLogResponse, Integer, Hash)>] UsageLogResponse data, response status code and response headers
    def get_usage_log_v1_usage_log_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsageApi.get_usage_log_v1_usage_log_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling UsageApi.get_usage_log_v1_usage_log_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling UsageApi.get_usage_log_v1_usage_log_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling UsageApi.get_usage_log_v1_usage_log_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/usage/log'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'api_key_id'] = opts[:'api_key_id'] if !opts[:'api_key_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UsageLogResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"UsageApi.get_usage_log_v1_usage_log_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsageApi#get_usage_log_v1_usage_log_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
