=begin
#FalaAI API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.21.51

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module FalaAI
  class WhatsappApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Extract and segment WhatsApp conversations from an export
    # @param file [File] 
    # @param start [String] 
    # @param _end [String] 
    # @param timezone [String] 
    # @param date_format [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :gap_minutes  (default to 720)
    # @option opts [Integer] :min_messages  (default to 2)
    # @option opts [Float] :chars_per_minute  (default to 800)
    # @option opts [String] :client_reference_id 
    # @return [WhatsappConversationsResponse]
    def extract_conversations_v1_whatsapp_extract_conversations_post(file, start, _end, timezone, date_format, opts = {})
      data, _status_code, _headers = extract_conversations_v1_whatsapp_extract_conversations_post_with_http_info(file, start, _end, timezone, date_format, opts)
      data
    end

    # Extract and segment WhatsApp conversations from an export
    # @param file [File] 
    # @param start [String] 
    # @param _end [String] 
    # @param timezone [String] 
    # @param date_format [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :gap_minutes  (default to 720)
    # @option opts [Integer] :min_messages  (default to 2)
    # @option opts [Float] :chars_per_minute  (default to 800)
    # @option opts [String] :client_reference_id 
    # @return [Array<(WhatsappConversationsResponse, Integer, Hash)>] WhatsappConversationsResponse data, response status code and response headers
    def extract_conversations_v1_whatsapp_extract_conversations_post_with_http_info(file, start, _end, timezone, date_format, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsappApi.extract_conversations_v1_whatsapp_extract_conversations_post ...'
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling WhatsappApi.extract_conversations_v1_whatsapp_extract_conversations_post"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling WhatsappApi.extract_conversations_v1_whatsapp_extract_conversations_post"
      end
      # verify the required parameter '_end' is set
      if @api_client.config.client_side_validation && _end.nil?
        fail ArgumentError, "Missing the required parameter '_end' when calling WhatsappApi.extract_conversations_v1_whatsapp_extract_conversations_post"
      end
      # verify the required parameter 'timezone' is set
      if @api_client.config.client_side_validation && timezone.nil?
        fail ArgumentError, "Missing the required parameter 'timezone' when calling WhatsappApi.extract_conversations_v1_whatsapp_extract_conversations_post"
      end
      # verify the required parameter 'date_format' is set
      if @api_client.config.client_side_validation && date_format.nil?
        fail ArgumentError, "Missing the required parameter 'date_format' when calling WhatsappApi.extract_conversations_v1_whatsapp_extract_conversations_post"
      end
      # resource path
      local_var_path = '/v1/whatsapp/extractConversations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = file
      form_params['start'] = start
      form_params['end'] = _end
      form_params['timezone'] = timezone
      form_params['date_format'] = date_format
      form_params['gap_minutes'] = opts[:'gap_minutes'] if !opts[:'gap_minutes'].nil?
      form_params['min_messages'] = opts[:'min_messages'] if !opts[:'min_messages'].nil?
      form_params['chars_per_minute'] = opts[:'chars_per_minute'] if !opts[:'chars_per_minute'].nil?
      form_params['client_reference_id'] = opts[:'client_reference_id'] if !opts[:'client_reference_id'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WhatsappConversationsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"WhatsappApi.extract_conversations_v1_whatsapp_extract_conversations_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsappApi#extract_conversations_v1_whatsapp_extract_conversations_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
